%h1 Success

="User:  " + @user
="info size:  " + @info_size.to_s
="size:  " + @members.size.to_s
Members

%table
  %thead
    %tr
      %th Name
      %th Class
      %th Email
      %th IsMember

  %tbody
    -@members.each do |member|
      %tr
        %td
        =member[:name]
        =member[:className]
        =member[:email]
        =member[:isMember]

/ Print Members
/ =@members