%h1 Success

="Master:  " + @master.name

Group Created:
name:
=@invited_group.name
members:
=@invited_group.members

=@invitees

Group confirmed:
name:
=@confirmed_group.name
members:
=@confirmed_group.members
group master:
=@confirmed_group.master